@model TarifWeb.Models.Yemek

@{ ViewData["Title"] = "Delete";
                Layout = "~/Views/Shared/_Layout.cshtml"; }
<h1>Tarif Sil</h1>

<h3>Tarifi Silmek İstediğinizden Emin misiniz?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Yemek Adı
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YemekAd)
        </dd>
        <dt class="col-sm-2">
            Kategori
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kategori.KategoriAd)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="YemekId" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-warning">Geri Dön</a>
    </form>
</div>
